.card {
  background-color: #1e1e1e; 
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  padding: 15px;
  width: 260px;
  color: #fff; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  margin: 5px;
  width: 250px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.55);
}

.cardImage {
  width: 100%;
  height: 160px;
  background-color: #333;          
  object-fit: cover;
  border-radius: 10px;
}

.cardName {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 12px 0 4px 0;
  color: #ffffff;
}

.cardInfo {
  color: #bdbdbd;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.cardStatus {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 0.9rem;
}

.statusOpen {
  color: #21d07a;     
}

.statusClosed {
  color: #ff4e4e;    
}

.learnMoreButton {
  width: 100%;
  padding: 10px;
  background-color: #0a244d;  
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.25s;
}

.learnMoreButton:hover {
  background-color: #0c335f;
}
